<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar Libro</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet" />
</head>
<body>
 <div class="container mt-5">
	<h1>Tarea 5</h1>


	<p class="mb-0">Ingrese los datos:</p>
	<br />
	<form class="mt-5" method="post" th:action="@{/ingresarLibro}" th:object="${libros}">
		<div class="form-group"><label>Titulo</label> <input th:field="*{titulo}" type="text"
			placeholder="Ingrese Titulo" /> <span th:errors="*{titulo}"
			style="color: #FF0000"></span></div><br> 
		<div class="form-group"><label>Autor</label> <input
			th:field="*{autor}" type="text" placeholder="Ingrese Autor" /> <span
			th:errors="*{autor}" style="color: #FF0000"></span> </div><br> 
		<div class="form-group"><label>ISBN</label>
		<input th:field="*{isbn}" type="text" placeholder="Ingrese ISBN" />
		<span th:errors="*{isbn}" style="color: #FF0000"></span> </div><br> 
		<div class="form-group"><label>Categoria</label>
		<select th:field="*{cCategoria.cCategoria}">
			<option th:each="i :${categorias}" th:value="${i.cCategoria}"
				th:text="${i.sCategoria}"></option>
		</select></div> <br>

		<!--<label>Activo: </label>
		<input th:field="*{estado}" th:value="${true}" type="radio"/><br>
		
		<label>Inactivo: </label>
		<input th:field="*{estado}" th:value="${false}" type="radio"/><br>-->

		<label>Estado </label> <input th:field="*{estado}" type="checkbox" /><br>

		<!--th:field="*{estado}" -->

		<div class="form-group">
			<input type="hidden" class="form-control" th:field="*{fechaDelegate}"
				id="fechaDelegate" />
		</div>

		<input type="submit" class="btn btn-primary mt-2" value="Guardar">

	</form>

</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>