<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar Categoria</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet" />
</head>
<body>
 <div class="container mt-5">
	<h1>Tarea 5</h1>


	<p class="mt-5">Ingrese los datos:</p>
	<br />
	<form class="mt-5" method="post" th:action="@{/ingresarCat}"
		th:object="${categorias}">
		<div class="form-group">
		<label>Nombre Categoria</label> <input th:field="*{sCategoria}"
			type="text" placeholder="Ingrese Nombre" /> <span
			th:errors="*{sCategoria}" style="color: #FF0000"></span><br> <input class="btn btn-primary mt-2"
			type="submit" value="Guardar categoria">
		</div>
	</form>

	<form method="post" th:action="@{/index}">
		<input type="submit" value="Regresar">
	</form>
</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>