<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Estudiate por Id</title>
</head>
<body>
	<h1>Tarea 5</h1>
			
            	
	<p class="mb-0">Ingrese los datos:</p><br/>
	<form method="post" th:action="@{/procesar}" th:object="${contribuyente}">		
		<label >Nombre</label>
			<input th:field="${contribuyente.s_name}" type="text" placeholder="Ingrese Nombre" />
			<span th:errors="*{s_name}" style="color: #FF0000"></span>
	<br>
       <label >Apellido</label>
        	<input th:field="${contribuyente.apellido}"  type="text" placeholder="Ingrese Apellido" />
        	<span th:errors="*{apellido}" style="color: #FF0000"></span>
	<br>
        <label >Nit</label>
        	<input  th:field="${contribuyente.nit}"  type="text" placeholder="Ingrese nit"  />
        	<span th:errors="*{nit}" style="color: #FF0000"></span>
	<br> 
		
	<label>Importancia</label>
	<select th:field="*{c_impor.c_impor}">		
		<option th:each="i :${importancias}"
              th:value="${i.c_impor}"
              th:text="${i.s_impor}"></option>
	</select>
	<br>
			             	                  
       <input type="submit" value="Guardar">
       
    </form>
    
    <form method="post" th:action="@{/listado}">
     	<input type="submit" value="Ver Contribuyentes">            	
    </form>
</body>
</html>