<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de Estudiante</title>
</head>
<body>
	<table>
		<thead>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nit</th>			
			<th>Fecha de Ingreso</th>
			<th>Importancia</th>
		</thead>
		<th:block th:each="c :${contribuyentes}">
			<tr>
				<th th:text="${c.s_name}"/>
				<th th:text="${c.apellido}"/>
				<th th:text="${c.nit}"/>
				<th th:text="${c.date}"/>
				<th th:text="${c.c_impor.s_impor}"/>
			</tr>					
		</th:block>		
	</table>
	<br>
	
	<form method="post" th:action="@{/inicio}">
     	<input type="submit" value="Regresar">            	
    </form>

</body>
</html>